* {
  background-color: yellow;
  color: green; }

.one, .two, .five {
  border: 3px dotted black;
  padding-left: 3px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 12px;
  margin: 10px; }

.one:hover, .two:hover, .five:hover {
  background-color: white; }

#grid {
  float: left;
  margin-left: 10px;
  width: 1250px;
  padding: 10px 10px 0px 10px;
  background: #fff; }
  #grid div {
    float: left;
    background-color: #000;
    margin-right: 1%;
    margin-bottom: 1%;
    height: 150px;
    width: 24.25%; }
    #grid div:nth-child(4n) {
      margin-right: 0; }
    #grid div:hover {
      background-color: gray; }
