$breadcrumb-divider: quote(">");
$definitely-not-hover: hover;

@import "frag";



%border-paddings-margin{
    border: 3px dotted black;
    padding-left: 3px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 12px;
    margin: 10px;
}

.one, .two, .five {
    @extend %border-paddings-margin;
    &:#{$definitely-not-hover} {
        background-color: white;
    }
}


@mixin grid($cols, $margin) {
    float: left;
    background-color: #000;
    margin-right: $margin;
    margin-bottom: $margin;
    height: 150px;
    width: ((100% - (($cols - 1) * $margin)) / $cols);
    
    &:nth-child(#{$cols}n) {
        margin-right: 0;
    }
}

$fifty: 50;
$halffifty: 25;

@function hundred($n: 12.5) {
    @return $n * ($fifty + $halffifty * 2);
}

@mixin bgw {
    background: #fff;
    @content;
}

@mixin padding($paddings...) {
    padding: $paddings;
}

#grid {
    float: left;
    margin-left: 10px;    
    width: #{hundred()}px;
    

    @include padding (10px 10px 0px 10px);
    @include bgw;
     div {
        @include grid(4, 1%);
        &:#{$definitely-not-hover} {
            background-color: lighten(#000, 50%);
        }
    }
}

$var: rabbit;

.rabbits {
    @include bgw {
        border: 12px solid purple; 
        border-radius: 50%;
    }

    margin-top: 360px;
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
    padding-bottom: 220px;

    @for $x from 1 to 10 {
        .#{$var}-#{$x} {
            width: 50px + $x * 10;
            height: 50px + $x * 10;
            background: black;
            border-radius: 50%;
            margin-left: 10px;
            &:hover {
                background-color: yellow;
            }

        }
    }
}